body {
    font: 16px "Lato", sans-serif;
    font-weight: 300;
    color: #2C3E50;
    margin: 0px; padding: 0px;
    background: #fff;
}
a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
}
a:hover {
    color: #666;
}

/* Header */
.title-ctr {
    display: inline-block;
    padding: 1em;
}
.tagline {
    margin: 0;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
}

#product_title {
    font-size: 1.7em;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: 200;
    color: #2980B9;
}
@media (min-width: 990px) {
    #product_title{
        font-size: 2.5em;
    }
    .tagline {
        font-size: 11px;
    }
}
.dark {
    font-weight: 800;
}

/* Sub header for displays */
.display-header {
    display: none;
}
.display-header-mobile {
    display: block;
    text-align: center;
}
@media (min-width: 990px) {
    .display-header {
        display: block;
        padding: 1em .5em .5em 1em;
        text-align: left;
        margin-top: 3em;
    }
    .display-header-mobile {
        display: none;
    }
    .display-title {
        font-size: 1.5em;
    }
}
.display-title {
    font-size: 1.2em;
    margin-bottom: .5em;
    color: #2980B9;
    font-variant: small-caps;
    text-transform: uppercase;
}
.section-description {
    display: block;
    margin: .5em auto .1em auto;
    width: 95%;
    font-size: .9em;
    font-weight: 300;
    line-height: 1.4em;
}
@media (min-width: 990px) {
    .section-description {
        margin: .5em 0em .1em 2em;
        width: 400px;
        font-size: 1.1em;
    }
}
.interaction {
    display: block;
    margin-left: 2em;
    font-size: .9em;
    font-style: italic;
}
/* Main Vizualization */
#viz_panel {
    display: inline-block;
}
#viz-right-panel {
    display: inline-block;
    vertical-align: top;
    padding-top: 7em;
}

@media (min-width: 990px) {
    #sunburst {
        margin-top: 1em;
    }
}

/* Perspective Visualization */
.panel {
    margin: auto;
    width: 98%;
    text-align: center;
}
#perspective-sunburst {
    display: none;
}
@media (min-width: 990px) {
    #perspective-sunburst {
        display: inline-block; 
    }
}

/* Breadcrumb */
#sequence {
    margin-top: 1%;
}
#sequence text, #legend text {
  font-weight: 600;
  fill: #222;
}

/* Logos */
.logo-ctr {
    padding: 1em;
    display: none;
}
#dac_logo {
    display: inline-block;
    margin-bottom: 0em;
}
#mlvl_logo {
    display: inline-block;
}
.logo-img {
    margin-left: .5em;
}
#dac_logo a img{
    height: 50px;
}
#mlvl_logo a img {
    height: 30px;
    margin-top: -5px;
}
@media (min-width: 990px) {
    .logo-ctr {
        display: inline-block;
    }
}


/* Map */
#map {
    margin: 1em auto 1em auto;
}
/* About links */
#about_link {
    position: absolute;
    right: 1%;
    top: -0em;
    text-align: center;
    font-size: .8em;
}
.questionmk {
    font-size: 1.5em;
}
@media (min-width: 990px) {
    #about_link {
        font-size: 1em;
    }
    .questionmk {
        font-size: 3em;
    }   
}
@media (min-width: 990px) {
    #perspective-sunburst {
        vertical-align: top;
    }
}
/* Footer */
#footer {
    width: 100%;
}
#chart_footer {
    position: fixed;
    bottom: 0;
    width: 99%;
    margin-right: 1em;
}
@media (min-width: 990px) {
    #chart_footer {
        position: fixed;
        bottom: 0;
        right: 0;
        width: inherit;
        
    }
}
#links {
    display: block;
    text-align: right;
    height: 100%;
    font-size: .8em;
    padding: .5em;
}
#links a, #about_link a {
    color: #33a02c;
}
#links a:hover, #about_link a:hover {
    color: #666;
}
@media (min-width: 990px) {
    #links {
        font-size: .9em;
    }
}

/* Word size formatting */
.w0, .w1 {
    text-transform:uppercase;
}
.w0, .w1, .w2, .w3 {
    font-weight:bold;
}
.sunburst.word {
    font-size: .7em;
}
.sunburst.w0 {
    font-size: 1.1em;
}
.sunburst.w1 {
    font-size: .9em;
}
.sunburst.w2 {
    font-size: .8em;
}
.sunburst.w3, .sunburst.w4, .sunburst.w5 {
    font-size: .7em;
}

/* About */
.about {
    margin: auto;
    max-width: 800px;
    padding: 20px;
    display: inherit;
}

.about > .header {
    margin-bottom: 20px;
}

.h-link {
    color: #2980B9;
}

.about > .footer {
    text-align:center;
    margin-top: 20px;
    font-style: italic;
    font-size: 12px;
}

.image-holder {
    text-align: center;
}

.image-holder img {
    width: 100%;
}

/* Everything else */
.pull-right {
    float: right !important;
}