<span class="about">
<div class="header">
    <div class="title-ctr">
        <p class="tagline">An analysis of</p>
        <span id="product_title">
            <span class="dark">
                <a href="#/" class="h-link">FCC Comments</a>
            </span>
        </span>
        <p class="tagline">by Decisive Analytics Corporation</p>

    </div>
    <div class="logo-ctr pull-right">
        <div id="dac_logo">
            <a href="http://www.dac.us">
                <img class="logo-img" src="app/img/logo.png" />
            </a>
        </div>
        <div id="mlvl_logo">
            <a href="http://mlvl.github.io">
                <img class="logo-img" src="app/img/mlvl-thumb-color-transparent-400.png" />
            </a>
        </div>
    </div>
</div>

	<p>Our analysis provides hierarchical navigation of the different topics or themes from 447,000 FCC comments. These topics are discovered using a technique called Hierarchical Latent Dirichlet Allocation (HLDA), and are represented as lists of words. <p>

  <p>The below image shows all components of the Comments visualization. Each <b>SLICE</b> in the large sunburst represents a topic. When you mouse over or click on a slice, the words composing the <b>TOPIC</b> are displayed in the center of the sunburst. <p>

  <p class="image-holder"><img src="app/img/full.png" alt="Main display"/></p>

  <p>The <b>BREADCRUMB</b> helps orient you as you navigate the sunburst. It shows the most common word in each topic leading to the one you're currently exploring. If you click to zoom in on a topic, the <b>ANCHOR</b> offers more context by highlighting which portion of the full topic structure is currently displayed in the large sunburst. In the below image, you can see the "Plane, people, pilot" topic has been clicked, the main sunburst has zoomed in, and the anchor has highlighted everything under the "Plane, people, pilot" slice. </p>

  <p class="image-holder"><img src="app/img/layer.png" alt="Layer display"/></p>

  <p>Technical details on how HLDA works can be found in our <a class="h-link" href="http://nlp.stanford.edu/events/illvi2014/papers/smith-illvi2014b.pdf" target="_blank">paper</a>, in which analysis was completed on a set of documents containing comments about the Malaysian MH-370 airliner disappearance.</p>


      <p>This project was created by the Machine Learning Visualization Lab, a group within <a class="h-link" href="http://www.dac.us" target="_blank">DECISIVE ANALYTICS Corporation</a>. This implementation of a sunburst was based upon <a class="h-link" href="http://bl.ocks.org/kerryrodden/7090426" target="_blank">Sequences Sunburst</a> by Kerry Rodden and <a class="h-link" href="http://bl.ocks.org/mbostock/4348373" target="_blank">Zoomable Sunburst</a> by Mike Bostock.</p>

	<p class="footer">This application is covered by the <a href="http://www.apache.org/licenses/LICENSE-2.0.html" class="h-link" target="_blank">Apache Version 2.0 License.</a></p>

      <div id="footer">
      <span id="dac_logo"><a href="http://www.dac.us" target="_blank"><img src="app/img/logo.png"/></a></span>
     <!--  <span id="links">
        <span>View the source code on <a href="https://github.com/decisive-ui/dacFccComments">Github</a> and follow us on <a href="https://twitter.com/decisiveUI">Twitter</a></span>
      </span> -->
    </div>
</span>

