<div class="header">
    <div class="title-ctr">
        <p class="tagline">An analysis of</p>
        <span id="product_title">
            <span class="dark">
                <a href="#/" class="h-link">FCC Comments</a>
            </span>
        </span>
        <p class="tagline">by Decisive Analytics Corporation</p>

    </div>
    <div class="logo-ctr pull-right">
        <span id="dac_logo">
            <a href="http://www.dac.us">
                <img class="logo-img" src="app/img/logo.png" />
            </a>
        </span>
        <span id="mlvl_logo">
            <a href="http://mlvl.github.io">
                <img class="logo-img" src="app/img/mlvl-thumb-color-transparent-400.png" />
            </a>
        </span>
    </div>
</div>



<div class="panel">
    <span id="viz_panel">
        <div id="sequence" breadcrumb></div>
        <div id="sunburst" sunburst data="fccdata" ng-hide="displayVis"></div>
    </span>
    <div id="viz-right-panel">
        <div id="perspective-sunburst" sunburstperspective data="fccdata" ng-hide="displayVis"></div>
        <div class="display-header">
            <span class="display-title">Topics</span>
            <span class="section-description">What topics are within comments? We're able to create a hierarchical structure of the most common topics within commenters' messages. To explore topics, use the large sunburst. Hover to display topics, click to zoom in, and click the center to zoom out. The smaller sunburst will help give you some perspective of the overall topic structure.</span>
        </div>
        </div>
</div>

<!-- <div class="display-header">
  <span class="display-title">Map</span>
  <span class="interaction">This is the greatest map ever, it requires no explanation.</span>
</div>

<div class="panel">
  <div id="map" style="width: 600px; height: 400px"></div>
  <dac-heatmap data="mapdata"></dac-heatmap>
</div> -->
<!-- <div id="chart_footer">
    <span id="links">
        <span>View the source code on <a href="https://github.com/mlvl/dacFccComments">Github</a> and follow us on <a href="https://twitter.com/decisiveUI">Twitter</a>
        </span>
    </span>
</div>
 -->
